extends layout

block content
  script.
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.loadingOff();
        ShopifyApp.Bar.initialize({
            title: '#{title}'
        });
    });

  h1 My App View
  .section-listing
    .section-options
        ul.section-tabs
          li.active
            a(href='#top') Tab 1
          |       
          li
            a(href='#top') Tab 2
          |       
          li
            a(href='#top') Tab 3
        |     
        .section-filter
          div
            div
              a.btn.filter-left.ico-down(href='#top') Filter
            |         
            .filter-freecell
              input.input-search(type='text', placeholder='Information about this filter')
        |     
        .section-content
          .section-row
            table.table-section
              thead
                tr
                  th.sortable Column 1
                  th.sortable Column 2
                  th.sortable Column 3
                  th.sortable Column 4
              |           
              tbody
                tr
                  td
                    a(href='#top') Link
                  td
                    span.tag.lightgray Tag
                  td Regular text
                  td
                    a.btn.default(href='#top') Button
                |             
                tr
                  td
                    a(href='#top') Link
                  td
                    span.tag.orange Tag
                  td Regular text
                  td
                    a.btn.default(href='#top') Button
                |             
                tr
                  td
                    a(href='#top') Link
                  td
                    span.tag.gray Tag
                  td Regular text
                  td
                    a.btn.default(href='#top') Button

